.Contact-header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.socials {
    width: 100%;
    height: 400px;

    margin-top: 30px;
    margin-bottom: 50px;

    display: flex;
}

.left-socials,
.right-socials{
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
}

.Instagram,
.LinkedIn{
    width: 60%;
    height: 60%;
    border: 2.5px solid #d4af37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;

}

.mail-box {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail {
    width: 50%;
    height: 100%;
    border: 1px solid #d4af37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.insta-main,
.LinkedIn-main{
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.Logo-Insta-box,
.Logo-LinkedIn-box{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.insta-logo,
.Linkedin-logo{
    display: flex;
    height: 100%;
    width: 60px;
    border-radius: 40%;
}


.insta-main p,
.LinkedIn-main p{
    padding-top: 0;
    font-size: 27px;
    font-family: AppleGothic;
    color: #d4af37;
    font-style: italic;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mail h4 {
    padding-bottom: 10px;
    color: white;
    margin: 0;
}

.mail p {
    font-style: italic;
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
}