/*============================
BEGIN VAN SERVICE PAGINA
==============================*/

.header-box {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-box h1 {
    font-size: 36px;
    text-align: center;
}

.info1,
.info2 {
    width: 100%;
    min-height: 550px;
    padding: 100px 70px;
    display: flex;
    border: 1px solid var(--gold);
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.info1-picture,
.info2-picture {
    flex: 2;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.info1-text,
.info2-text {
    flex: 3;
    display: flex;
    color: white;
    line-height: 1.8;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    padding: 20px;
}

.info1-text h2,
.info2-text h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: var(--gold);
}

.info1-text p,
.info2-text p {
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 800px;
}

.service-image1,
.service-image2 {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.service-image2 {
    margin-left: 0;
}

/* Responsive layout voor info boxes */
@media (max-width: 1024px) {
    .info1,
    .info2 {
        padding: 60px 40px;
    }

    .info1-text,
    .info2-text {
        padding: 20px 0;
    }

    .info1-text p,
    .info2-text p {
        font-size: 16px;
        line-height: 1.7;
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    .info1,
    .info2 {
        padding: 40px 20px;
        flex-direction: column;
    }

    .info2 {
        flex-direction: column-reverse;
    }

    .info1-picture,
    .info2-picture {
        width: 100%;
        margin-bottom: 30px;
    }

    .service-image1,
    .service-image2 {
        max-height: 300px;
    }

    .info1-text p,
    .info2-text p {
        font-size: 15px;
        line-height: 1.6;
    }
}
